<div class="container-fluid">
  <p class="h3 p-3">{{ pinguinoDetail.name }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          alt="{{ pinguinoDetail.name }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Scientific_Name</dt>
        <dd>{{ pinguinoDetail.scientific_name }}</dd>
        <dt>Nombre Pinguino</dt>
        <dd>{{ pinguinoDetail.name }}</dd>
        <hr />
        <dt>Feeding</dt>
        <dd>{{ pinguinoDetail.feeding }}</dd>
        <hr />
        <dt>Image</dt>
        <dd>{{ pinguinoDetail.image }}</dd>
        <hr />
      </dl>
    </div>
  </div>
 </div>